:root {
    --primary: #353535;
    --secondary: #232323;
    --panel-curve: 5px;
    --panel-stroke: 1px solid #373737;
    --panel-stroke-light: 1px solid #474747;
    --text-primary: #ffffff;
    --text-secondary: #d5d5d5;
    --text-small: 15px;
    --text-bold: 500;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    color: var(--text-primary);
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 6px;
    width: 99%;
    height: 98.4vh;
    background-color: var(--secondary);
    padding: 6px;
}

.panel {
    border-radius: var(--panel-curve);
    border: var(--panel-stroke);
    background-color: var(--primary);
    padding: 9px 12px;
    overflow-y: auto;
}

.panel-header {
    font-size: var(--text-small);
    font-weight: var(--text-bold);
}
    
.scene {
    grid-column: span 4 / span 4;
    grid-row: span 6 / span 6;
    grid-column-start: 2;
    grid-row-start: 1;
    border: var(--panel-stroke-light);
    padding: 0;
}

.tools {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 1;
}

.graph {
    grid-row: span 3 / span 3;
    grid-row-start: 4;
}
        